{% extends "base.html" %}

{% block content %}

  <a href="{% url "post:new" %}">Добавить фотографию</a>
  {% if posts %}
    <ul>
      {% for post in posts %}
        <li>
          <img src="{{ post.picture.url }}" width="80px" />
          {% if post.current_vote %}
            <p>Вы оценили эту фотографию на {{post.current_vote}}</p>
          {% else %}
            <p>Вы не оценивали эту фотографию</p>
          {% endif %}
          <form action="{% url "vote:new" %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="post_id" value="{{post.id}}">
              <p>
                  {{ vote_form.value }}
              </p>
              <p><input type="submit" value="Оценить фотографию"/></p>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Нет фотографий.</p>
  {% endif %}

{% endblock %}
